[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dropbox = "*"
python-dotenv = "*"
flask-session = "*"

[dev-packages]
pytruth = "*"
pytest = "*"

[requires]
python_version = "3.11"
