{% extends "layout.html" %}
{% block title %}Enter Sermon Notes{% endblock %}
{% block pagetitle %}Enter Sermon Notes{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <table>
        <form method="post">
            <tbody>
                <tr>
                    <td>Sermon Name:</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td>Minister:</td>
                    <td><input type="text" name="minister" value="Samuel Browning" /></td>
                </tr>
                <tr>
                    <td>Notes:</td>
                    <td><textarea id="notes" name="notes"></textarea></td>
                </tr>
                <tr>
                    <td>Upload copy to DropBox?</td>
                    <td><input type="checkbox" name="isUploadToDropBox" checked="checked" /></td>
                </tr>
                <tr>
                    <td />
                    <td>
                        <input type="submit" />
                    </td>
                </tr>
            </tbody>
        </form>
   </table>
{% endblock %}

